.header-container {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
}

.header-company-logo {
    padding: 10px 0 10px 60px;
}

.header-navigation-button-container {
    display        : flex;
    align-items    : baseline;
    justify-content: center;
}

.navigation-button {
    background-color: unset;
    border          : unset;
    font-family     : 'Sora';
    font-style      : normal;
    font-weight     : 600;
    font-size       : 14px;
    line-height     : 18px;
    text-align      : center;
    text-transform  : uppercase;
    color           : #400E03;
    margin-right    : 20px;
    cursor          : pointer;
}